@using InciAlbum.EntityLayer.Concrete
@model List<myAdress>
<footer class="py-lg-5 py-3">
	<div class="container-fluid">
		<div class="inner-sec-w3ls-agileits py-lg-5 p-3">
			<div class="row">
				<div class="col-lg-3 footer-grid1-wthree-agileits text-left">
					<h3 class="mb-4">Incı Album</h3>
					<p>
						Fotoğrafçılık, albüm ve davetiye tasarımı alanında uzmanlaşmış ekibimizle, 
						özel anlarınızı ölümsüzleştirmek için buradayız.
					</p>
					
				</div>
				<div class="col-lg-3 footer-grid1-wthree-agileits text-left">
					<h3 class="mb-4">Adres Bilgileri</h3>
					<ul class="footer-bottom-list">
						@foreach (var item in Model)
						{
							<li>
							<span class="fas fa-map-marker-alt"></span> @item.descreption1
							<span> @item.descreption2</span>
						</li>
						<li>
							<span class="fas fa-envelope"></span>
							<a href="mailto:name@example.com"> @item.descreption3</a>
						</li>
						<li>
							<span class="fas fa-phone"></span> @item.phone
						</li>
						@* <li>
							<span class="fas fa-fax"></span> +166 367 808 5055
						</li>
						<li>
							<span class="fas fa-globe"></span>
							<a href="#"> www.websitename.com</a>
						</li> *@
						}
						

					</ul>
				</div>
				<div class="col-lg-3 footer-grid text-left">
					<div class="tech-btm">
						<h3 class="mb-4">Son Fotoğraflar</h3>
						<div class="blog-grids row mb-3">
							<div class="col-md-4 pr-0 blog-grid-left">
								<a href="single.html">
									<img src="~/web/images/g1.jpg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="col-md-8 blog-grid-right">

								<h5>
									<a href="single.html">Örnek Görsellere GözAtabilirsiniz</a>
								</h5>
								<div class="sub-meta">
									<span>
										<i class="far fa-clock"></i> 20 Nisan, 2023
									</span>
								</div>
							</div>

						</div>

						<div class="blog-grids row mb-3">
							<div class="col-md-4 pr-0 blog-grid-left">
								<a href="single.html">
									<img src="~/web/images/g4.jpg" class="img-fluid" alt="">
								</a>
							</div>
							<div class="col-md-8 blog-grid-right">

								<h5>
									<a href="single.html">Örnek Görsellere GözAtabilirsiniz </a>
								</h5>
								<div class="sub-meta">
									<span>
										<i class="far fa-clock"></i> 23 Mayıs, 2023
									</span>
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- subscribe -->
				<div class="col-lg-3 subscribe-main-w3ls-agileits footer-grid text-left">
					
					<!-- //subscribe -->
					<div class="footer-social mt-4">
						<div class="copyrighttop">
							<h3 class="mb-4">Sosyal Medya Hesaplarımız </h3>
							<ul class="social_list1 text-left">

								<li>
									<a href="#" class="facebook1 ">
										<i class="fab fa-facebook-f"></i>

									</a>
								</li>
								<li>
									<a href="#" class="twitter2 mx-2">
										<i class="fab fa-twitter"></i>

									</a>
								</li>
								<li>
									<a href="#" class="dribble3">
										<i class="fab fa-dribbble"></i>
									</a>
								</li>

							</ul>

						</div>
					</div>
				</div>
			</div>
			<!-- footer -->
			<div class="footer-cpy text-center pt-5 mt-5">
				<div class="copyrightbottom-w3ls-agile">
					<p>
						@DateTime.Now.ToShortDateString() Tüm Hakları Saklıdır | Design by
						<a href="http://w3layouts.com/">W3layouts</a>
					</p>

				</div>
			</div>
		</div>
	</div>
</footer>