@using InciAlbum.EntityLayer.Concrete
@model List<myAdress>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/admin_Layout.cshtml";
}

<h1 class="text-center my-title">Adreslerim</h1>
<br />
<div class="table-responsive">
    <table class="table table-hover table-bordered my-table">
        <thead class="thead-light">
            <tr>
                <th>ID</th>               
                <th>Mahalle</th>
                <th>Semt</th>
                <th>Şehir</th>
                <th>Telefon</th>
                <th>Harita URL</th>
                <th>Sil</th>
                <th>Güncelle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.myAdressId</td>
                    <td>@item.descreption1</td>
                    <td>@item.descreption2</td>
                    <td>@item.descreption3</td>
                    <td>@item.phone</td>
                    <td>@item.map</td>
                    <td><a class="btn btn-outline-danger" href="/myAdress/DeleteMyAdress/@item.myAdressId">Sil</a></td>
                    <td><a class="btn btn-outline-success" href="/myAdress/UpdateMyAdress/@item.myAdressId">Güncelle</a></td>

                </tr>
            }
        </tbody>
    </table>
</div>

<div class="text-center mt-4">
    <a href="@Url.Action("AddMyAdress", "myAdress")" class="btn btn-dark-gray">Yeni Adres Ekle</a>
</div>

<style>
    .my-title {
        font-family: 'Arial', sans-serif;
        font-size: 2.5rem;
        color: #003366;
        margin-bottom: 20px;
    }

    .my-table {
        background-color: #ffffff;
        border-radius: 0.5rem;
        overflow: hidden;
    }

    .table th {
        background-color: #003366;
        color: white;
    }

    .table td {
        text-align: center;
    }

    .btn-dark-gray {
        background-color: #003366;
        color: white;
        padding: 10px 20px;
        font-size: 1.2rem;
        border: none;
        border-radius: 0.3rem;
    }

        .btn-dark-gray:hover {
            background-color: #555555;
        }
</style>


