@using InciAlbum.EntityLayer.Concrete
@model List<Stuff>
<section class="team py-lg-5 py-3" id="team">
	<div class="container">
		<div class="inner-sec-w3ls-agileits py-lg-5 py-3">
			<div class="row team_grids">
				<div class="col-lg-8 team-con-info">
					<div class="row tm-in">
						@foreach (var item in Model)
						{
							<div class="col-md-6 col-sm-6 col-xs-6 team_grid">
								@* <div class="view view-second">
									<img src="@item.imageUrl" alt=" " class="img-fluid"  />
								</div> *@
								<div class="view view-second">
									<img src="@item.imageUrl" alt=" " class="img-fluid custom-img" />
								</div>
								<h4 class="mt-4">@item.nameSurname</h4>
								<p class="my-2">@item.tittle</p>
								<ul class="social_list1 text-center mb-4">

									<li>
										<a href="@item.faceUrl" class="facebook1 ">
											<i class="fab fa-facebook-f"></i>

										</a>
									</li>
									<li>
										<a href="@item.twUrl" class="twitter2 mx-2">
											<i class="fab fa-twitter"></i>

										</a>
									</li>
									

								</ul>
							</div>
						}
						
						
					</div>
				</div>
				<div class="col-lg-4 header-info mt-5">
					<h3 class="heading ">Ekibimiz</h3>
					<p>Her biri alanında deneyimli olan ekip arkadaşlarımız, 
						sizin için en özel anları yakalayıp ölümsüzleştirmek ve 
						hayallerinizdeki tasarımları gerçeğe dönüştürmek için bir araya geldi. 
						Müşteri memnuniyetini ön planda tutarak,
						her projede yenilikçi ve kişiye özel çözümler sunmayı hedefliyoruz.</p>
					
				</div>
			</div>
		</div>
	</div>
</section>

					<style>
	.custom-img {
		width: 100%; /* Genişliği konteynırın genişliği kadar yapar */
		height: 200px; /* Sabit bir yükseklik belirler, istenen değere göre ayarlayın */
		object-fit: cover; /* Görüntüyü kapsayacak şekilde ayarlar, kesme yapar */
		border-radius: 0.2rem; /* Kenarları yuvarlatır */
	}
					</style>